vigimare/Anomaly.xsd

<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://github.com/vigimare/xsd"
	xmlns="https://github.com/vigimare/xsd"
           elementFormDefault="qualified">
	<xs:element name="Anomaly">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>VigimareAnomaly class that extends CISE Anomaly</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="AnomalyType" type="xs:string"/>
				<xs:element name="AnomalyScore" type="xs:double"/>
				<xs:element name="Explanation" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
