vigimare/VigimareAlertComplex.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:event="http://www.cise.eu/datamodel/v1/entity/event/"
    xmlns:vigimare="https://github.com/vigimare/xsd"
    targetNamespace="http://www.cise.eu/datamodel/v1/entity/event/"
>

    <xs:include schemaLocation="../cise/entity/event/Event.xsd" />

    <xs:complexType name="VigimareAlert">
        <xs:complexContent>
            <xs:extension base="event:Event">
            <xs:annotation>
				<xs:documentation>VigimareAlert</xs:documentation>
			</xs:annotation>
			<xs:sequence>
			    <xs:choice>
					<xs:element name="Intention" maxOccurs="unbounded" />
					<xs:element name="Anomaly" />
				</xs:choice>
			</xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
