vigimare/VigimareIntention.xsd

<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/vigimareintention"
	xmlns="http://example.com/vigimareintention"
           elementFormDefault="qualified">
	<xs:element name="VigimareIntention">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>VigimareIntention class that extends CISE</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="Classification" type="xs:string"/>
				<xs:element name="Probability" type="xs:double"/>
				<xs:element name="Explanation" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
