vigimare/VigimareObjectComplex.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:object="http://www.cise.eu/datamodel/v1/entity/object/"
    targetNamespace="http://www.cise.eu/datamodel/v1/entity/object/"
>

    <xs:include schemaLocation="../cise/entity/object/Object.xsd" />

    <xs:complexType name="VigimareObject">
        <xs:complexContent>
            <xs:extension base="object:Object">
            <xs:sequence>
				<xs:element name="LocationUncertainty" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Unit: meters</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:double">
							<xs:minInclusive value="0" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="SourceType" type="xs:string" value="0">
					<xs:annotation>
						<xs:documentation>Type/modality of source data</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TrackID">
					<xs:annotation>
						<xs:documentation
                            >Identification as defined by source tracker system. Used when identity of vessel is not specified using another attribute in the message.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:minInclusive value="0" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Category" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation
                            >Sender specified name of entity type. Drone, trawl, dragged, anchor</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
